.breadcrumb {
  background: transparent;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;

  .breadcrumb-item {
    font-size: 14px;
    color: #6C757D; // Default gray for inactive levels

    .breadcrumb-link {
      color: #6C757D;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #4B0082; // Hover effect towards indigo
      }
    }

    .breadcrumb-active {
      font-weight: 700; // Bold
      color: #4B0082; // Indigo
    }

    .separator {
      color: #CED4DA;
      font-weight: 400;
    }
  }
}
