<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li *ngFor="let crumb of breadcrumbs; let last = last" class="breadcrumb-item d-flex align-items-center" [class.active]="crumb.active">
      <a *ngIf="!crumb.active && crumb.url" [routerLink]="[crumb.url]" class="breadcrumb-link text-decoration-none">
        {{ crumb.label }}
      </a>
      <span *ngIf="crumb.active" class="breadcrumb-active">
        {{ crumb.label }}
      </span>
      <span *ngIf="!last" class="mx-2 separator">/</span>
    </li>
  </ol>
</nav>
