<div class="sidebar bg-white border-end d-none d-md-block">
  <div class="p-4">
    <h4 class="fw-bold" style="color: #4B0082;">Brand Sidebar</h4>
  </div>
</div>

<header class="header bg-white">
  <div class="container-fluid ps-5-percent">
    <app-header></app-header>
  </div>
</header>

<main class="content-area py-5 bg-light">
  <div class="container-fluid ps-5-percent">
    <app-breadcrumbs></app-breadcrumbs>
    <router-outlet></router-outlet>
  </div>
</main>

<app-please-wait></app-please-wait>
