<div class="sidebar bg-white border-end d-none d-md-block">
  <div class="p-4">
    <h4 class="fw-bold" style="color: #4B0082;">Brand Sidebar</h4>
  </div>
</div>

<header class="header bg-white border-bottom d-flex align-items-center px-4">
  <h5 class="m-0">Project Management</h5>
</header>

<main class="content-area py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <app-breadcrumbs></app-breadcrumbs>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<app-please-wait></app-please-wait>
